.container__content {
  border:solid white 1px;
  margin-top: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
}


.content__cover > img{
  border: 3px solid rgb(144, 144, 144);
  border-radius: 5px;
}

.content__description {
  margin-top: 15px;
}

.content__description > p {
  margin-top: 30px;
  color: rgb(63, 63, 63);
}

.content__title {
  margin-top: 30px;
  width: 100%;
}

.content__button {
  color: black;
  border-radius: 0.5rem;
  border: seashell;
  background-color: white;
  padding: 10px;
  font-size: medium;
  margin-top: 30px;
}

.content__button:hover {
  color: white;
  background-color: darkturquoise;
}
