<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    *ngFor="let cardBig of cardsBig"
    [Id]="cardBig.id"
    [cardDescription]="cardBig.description"
    [photoCover]="cardBig.photoCover"
    [cardTitle]="cardBig.title"
    [Card]="cardBig.card"
    ></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    *ngFor="let cardSmall of cardsSmall"
    [Id]="cardSmall.id"
    [Card]="cardSmall.card"
    [photoCover]="cardSmall.photoCover"
    [cardTitle]="cardSmall.title"></app-small-card>
  </div>
</div>
